
section {
    padding-bottom: 4rem;
    padding-top: 4rem;
}

input,
textarea {
    margin-bottom: 1rem;
}

.card {
    width: 32%;
    float: left;
    margin: 5px;
}

header {
    background-color:rgb(255, 255, 255);
    height: 100px;
}

.nav-item {
    padding-top: 20px;
}

h1 {
    font-size: 60px;
    font-weight: 700;
}

.col-md-7 {
    padding-top: 10px;
}

.btn {
    margin-top: 20px;
    background-color: chocolate;
    stroke: none;
}

.img-fluid {
    width: 350px;
    height: 280px;
}

.img-fluid-1 {
    height: 300px;
    width: 400px;    
}

.col-md-6 {
    background-color: aliceblue;
}

.form {
    margin: 20px;
}

.carousel-inner {
    height: 400px;
    margin: 0px;
}

.col{
    margin-top: 20px;
}

.nav-link {
    color: red;
    font-weight: 600;
    
}

.col-md-6 {
    width: 20%;
   
    
} 

.col-5 {
    background-color: red;
    height: 400px;
}

.img-fluid {
    height:200px;
}

